services:
  mariadb:
    image: mariadb
    ports:
      - ${MARIADB_HOST_PORT}:${MARIADB_CONTAINER_PORT}
    build:
      context: ./requirements/mariadb
    environment:
      - MARIADB_PORT=${MARIADB_CONTAINER_PORT}
    networks:
      app-net:
        aliases:
          - db
    volumes:
      - db_data:${CONTAINER_DB_DATA_FOLDER}

  wordpress:
    image: wordpress
    depends_on:
      - mariadb
    build:
      context: ./requirements/wordpress
    environment:
      - WORDPRESS_PORT=${WORDPRESS_PORT}
      - MARIADB_PORT=${MARIADB_CONTAINER_PORT}
      - WORDPRESS_TITLE=${WORDPRESS_TITLE}
      - INCEPTION_SERVER_NAME=${INCEPTION_SERVER_NAME}
      - WORDPRESS_DATABASE_NAME=${WORDPRESS_DATABASE_NAME}
    networks:
      app-net:
        aliases:
          - word
    volumes:
      - web_files:${CONTAINER_WEB_FOLDER}

  nginx:
    image: nginx
    ports:
      - ${NGINX_HOST_PORT}:${NGINX_CONTAINER_PORT}
    depends_on:
      - wordpress
    build:
      context: ./requirements/nginx
    networks:
      app-net:
        aliases:
          - nginx
    environment:
      - SSL_CERT_PATH=${CONTAINER_SSL_CERTS_FOLDER}/${SSL_CERT_FILE}
      - SSL_CERT_KEY_PATH=${CONTAINER_SSL_CERTS_FOLDER}/${SSL_CERT_KEY_FILE}
      - WORDPRESS_PORT=${WORDPRESS_PORT}
      - NGINX_CONTAINER_PORT=${NGINX_CONTAINER_PORT}
      - INCEPTION_SERVER_NAME=${INCEPTION_SERVER_NAME}
    volumes:
      - web_files:${CONTAINER_WEB_FOLDER}
      - ssl_certs:${CONTAINER_SSL_CERTS_FOLDER}
networks:
  app-net:

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOST_DB_DATA_FOLDER}
      o: bind
  web_files:
    driver: local
    driver_opts:
      type: none
      device: ${HOST_WEB_FOLDER}
      o: bind
  ssl_certs:
    driver: local
    driver_opts:
      type: none
      device: ${HOST_SSL_CERTS_FOLDER}
      o: bind
