services:
  mariadb:
    image: mariadb
    ports:
      - 3306:3306
    build:
      context: ./requirements/mariadb/
    networks:
      app-net:
        aliases:
          - db
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    image: wordpress
    depends_on:
      - mariadb
    build:
      context: ./requirements/wordpress/
    networks:
      app-net:
        aliases:
          - word
    volumes:
      - web_files:/var/www/html/

  nginx:
    image: nginx
    ports:
      - 8080:8080
    depends_on:
      - wordpress
    build:
      context: ./requirements/nginx/
    networks:
      app-net:
        aliases:
          - nginx
    volumes:
      - web_files:/var/www/html/

networks:
  app-net:

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      device: /home/maurodri/data/mariadb
      o: bind
  web_files:
    driver: local
    driver_opts:
      type: none
      device: /home/maurodri/data/wordpress
      o: bind
