services:
  mariadb:
    image: mariadb
    ports:
      - ${MARIADB_HOST_PORT}:${MARIADB_CONTAINER_PORT}
    build:
      context: ./requirements/mariadb
    environment:
      - MARIADB_PORT=${MARIADB_CONTAINER_PORT}
      - MARIADB_USER=${MARIADB_USER}
      - WORDPRESS_DATABASE_NAME=${WORDPRESS_DATABASE_NAME}
    networks:
      app-net:
        aliases:
          - ${MARIADB_NETWORK_ALIAS}
    volumes:
      - db_data:${CONTAINER_DB_DATA_FOLDER}
    secrets:
      - mariadb_pass
      - mariadb_root_pass
    healthcheck:
      test: ["CMD", "/run/healthcheck.sh"]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 2s

  wordpress:
    image: wordpress
    depends_on:
      mariadb:
        condition: service_healthy

    build:
      context: ./requirements/wordpress
    environment:
      - WORDPRESS_PORT=${WORDPRESS_PORT}
      - WORDPRESS_TITLE=${WORDPRESS_TITLE}
      - INCEPTION_SERVER_NAME=${INCEPTION_SERVER_NAME}
      - WORDPRESS_DATABASE_NAME=${WORDPRESS_DATABASE_NAME}
      - MARIADB_PORT=${MARIADB_CONTAINER_PORT}
      - MARIADB_NETWORK_ALIAS=${MARIADB_NETWORK_ALIAS}
      - MARIADB_USER=${MARIADB_USER}
      - WORDPRESS_ADMIN=${WORDPRESS_ADMIN}
      - WORDPRESS_ADMIN_EMAIL=${WORDPRESS_ADMIN_EMAIL}
    networks:
      app-net:
        aliases:
          - ${WORDPRESS_NETWORK_ALIAS}
    volumes:
      - web_files:${CONTAINER_WEB_FOLDER}
    secrets:
      - mariadb_pass
      - wordpress_admin_pass
    healthcheck:
      test: ["CMD", "/run/healthcheck.sh"]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 2s

  nginx:
    image: nginx
    ports:
      - ${NGINX_HOST_PORT}:${NGINX_CONTAINER_PORT}
    depends_on:
      wordpress:
        condition: service_healthy
    build:
      context: ./requirements/nginx
    networks:
      app-net:
        aliases:
          - ${NGINX_NETWORK_ALIAS}
    environment:
      - SSL_CERT_PATH=${CONTAINER_SSL_CERTS_FOLDER}/${SSL_CERT_FILE}
      - SSL_CERT_KEY_PATH=${CONTAINER_SSL_CERTS_FOLDER}/${SSL_CERT_KEY_FILE}
      - WORDPRESS_PORT=${WORDPRESS_PORT}
      - WORDPRESS_NETWORK_ALIAS=${WORDPRESS_NETWORK_ALIAS}
      - NGINX_CONTAINER_PORT=${NGINX_CONTAINER_PORT}
      - INCEPTION_SERVER_NAME=${INCEPTION_SERVER_NAME}
    volumes:
      - web_files:${CONTAINER_WEB_FOLDER}
      - ssl_certs:${CONTAINER_SSL_CERTS_FOLDER}
    healthcheck:
      test: ["CMD", "/runner/healthcheck.sh"]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 2s

networks:
  app-net:

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOST_DB_DATA_FOLDER}
      o: bind
  web_files:
    driver: local
    driver_opts:
      type: none
      device: ${HOST_WEB_FOLDER}
      o: bind
  ssl_certs:
    driver: local
    driver_opts:
      type: none
      device: ${HOST_SSL_CERTS_FOLDER}
      o: bind

secrets:
  mariadb_pass:
    file: ../secrets/mariadb_pass
  mariadb_root_pass:
    file: ../secrets/mariadb_root_pass
  wordpress_admin_pass:
    file: ../secrets/wordpress_admin_pass
