services:
  mariadb:
    image: mariadb
    ports:
      - ${MARIADB_HOST_PORT}:${MARIADB_CONTAINER_PORT}
    build:
      context: ./requirements/mariadb/
    networks:
      app-net:
        aliases:
          - db
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    image: wordpress
    depends_on:
      - mariadb
    build:
      context: ./requirements/wordpress/
    networks:
      app-net:
        aliases:
          - word
    volumes:
      - web_files:/var/www/html/

  nginx:
    image: nginx
    ports:
      - ${NGINX_HOST_PORT}:${NGINX_CONTAINER_PORT}
    depends_on:
      - wordpress
    build:
      context: ./requirements/nginx/
    networks:
      app-net:
        aliases:
          - nginx
    volumes:
      - web_files:/var/www/html/

networks:
  app-net:

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOST_DB_DATA_FOLDER}
      o: bind
  web_files:
    driver: local
    driver_opts:
      type: none
      device: ${HOST_WEB_FOLDER}
      o: bind
